@media (max-width: 1024px) {
  /* 툴 소개  */
  .solution .h-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .solution-title {
    width: 100%;
  }
  .solution-title h2 {
    font-size: var(--tablet780px---visual-title--m);
  }
  .solution-title p {
    font-size: var(--tablet780px---visual--desc--m);
    margin: 0;
    position: relative;
    padding-bottom: 80px;
  }

  .solution-btn {
    margin-left: auto;
    position: absolute;
    right: 18px;
    top: 295px;
    z-index: 999;
  }
  .solution-btn a {
    font-size: var(--tablet780px--button--m);
  }
  .solution-category {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 4px;
    order: 2;
    justify-content: center;
    overflow-x: unset;
    scrollbar-width: none;
  }

  .solution-category::-webkit-scrollbar {
    display: none;
  }

  .solution-category a {
    flex-shrink: 0;
    height: 36px;
    font-size: var(--tablet780px--button--m);
    padding: 0 14px;
    white-space: nowrap;
  }

  .solution-cards {
    width: 100%;
    min-width: unset;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 14px;
    order: 3;
  }

  .sol-card {
    min-height: 140px;
  }
  .sol-card:nth-child(1) {
    transform: rotate(-1.5deg);
  }
  .sol-card:nth-child(2) {
    transform: rotate(1deg);
  }
  .sol-card:nth-child(3) {
    transform: rotate(-1deg);
  }
  .sol-card:nth-child(4) {
    transform: rotate(1deg);
  }
  .sol-card:nth-child(5) {
    transform: rotate(-1deg);
  }
  .sol-card:nth-child(6) {
    transform: rotate(1.5deg);
  }

  .sol-card h3 {
    font-size: var(--tablet780px---card-title--m);
  }

  .sol-card p {
    font-size: var(--tablet780px---card--desc--m);
  }
  /*  플랜 */
  .plan .h-inner {
    flex-wrap: wrap;
  }

  .plan-title {
    width: 100%;
    max-width: 100%;
  }

  .plan .plans-grid {
    width: 100%;
  }

  .plan-more {
    width: 100%;
    justify-content: flex-start;
  }

  .plan-card {
    flex: 1 1 calc(50% - 12px);
  }
}

@media (max-width: 780px) {
  .header-inner {
    height: 60px;
    padding: 0 12px;
    gap: 0;
  }
  .gnb {
    display: none;
  }
  .menu-btn {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    margin: 0 25px;
  }
  .menu-btn span {
    width: 18px;
    height: 2px;
    background: #fff;
  }
  .logo {
    margin-right: auto;
  }
  .header-btns {
    margin-left: auto;
    gap: 6px;
  }

  /* ===== Hero ===== */

  .mainhero-btns {
    flex-direction: column;
    gap: 20px;
    margin-top: 4px;
    width: 100%;
    align-items: center;
  }
  .btn-primary {
    width: 100%;
    max-width: 180px;
    text-align: center;
    font-size: var(--fs-card-caption);
    padding: 13px 28px;
  }
  .btn-play {
    font-size: var(--fs-card-caption);
  }

  .hero-firefly {
    bottom: 140px;
    padding: 0 16px;
    gap: 12px;
    align-items: center;
  }

  .firefly-label {
    min-width: unset;
    width: 100px;
    flex-shrink: 0;
  }

  .firefly-label strong {
    font-size: var(--fs-card-caption);
    word-break: keep-all;
  }

  .firefly-label p {
    font-size: var(--fs-card-caption);

    word-break: keep-all;
  }

  .firefly-imgs {
    flex: 1;
    overflow: hidden;
  }

  .fi-img {
    width: clamp(60px, 4vw, 70px);
    height: clamp(60px, 4vw, 70px);
    flex-shrink: 0;
  }

  /* firefly  */
  .firefly .h-inner {
    display: block;
  }

  /* ===== LEFT ===== */

  .firefly-left {
    min-height: 300px;
    border-radius: 12px;
  }

  .firefly-content {
    padding: 30px;
  }

  .firefly-content h2 {
    font-size: var(--tablet780px---visual-title--m);
    margin-bottom: 16px;
  }

  .firefly-content p {
    font-size: var(--tablet780px---visual--desc--m);
    margin-bottom: 24px;
  }

  .detail-btn {
    font-size: var(--tablet780px--button--m);
    padding: 10px 22px;
  }

  /* ===== RIGHT ===== */
  .firefly-right {
    padding-top: 20px;
    min-height: unset;
    gap: 24px;
    padding: 20px 30px;
  }

  .right-top h3 {
    font-size: var(--tablet780px---visual-title--m);
    margin: 0;
  }

  .right-top p {
    font-size: var(--tablet780px---contents--desc);
  }

  /* 카드 3열 유지, 넘치면 1열 */
  .firefly-card-wrap {
    gap: 12px;
  }

  .firefly-card img {
    width: 100%;
    height: 90px;
  }

  .firefly-card h4 {
    font-size: var(--tablet780px---contents--des);
    padding: 10px 10px 6px;
  }

  .firefly-card p {
    font-size: var(--tablet780px---contents--desc--m);
    padding: 0 10px 14px;
  }

  .firefly-btn {
    font-size: var(--tablet780px--button--m);
    padding: 10px 22px;
    margin-left: auto; /* 오른쪽 정렬 */
    display: flex;
  }

  /* 플랜 */

  .plan .h-inner {
    flex-wrap: wrap;
    gap: 25px;
  }

  .plan-title {
    width: 100%;
    max-width: 100%;
    font-size: var(--tablet780px---visual-title--m);
  }
  .plan-title h2 {
    font-size: var(--tablet780px---visual-title--m);
  }
  .plan-title p {
    font-size: var(--tablet780px---visual--desc--m);
  }
  .plan .plans-grid {
    width: 100%;
    order: 3;
  }

  .plan .plan-card {
    flex: 1 1 calc(50% - 12px);
  }
  .plan-more {
    width: 100%;
    order: 3;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .plan {
    padding: 40px 0;
  }

  .plan .h-inner {
    gap: 20px;
  }

  .plan .plans-grid {
    gap: 12px;
  }

  .plan .plan-card {
    flex: 1 1 100%;
    min-width: 60%;
  }

  .plan .plan-btn {
    width: 100%;
  }
}

@media (max-width: 390px) {
  /* hero  */

  .btn-join {
    display: none;
  }
  .mainhero .hero-title {
    font-size: var(--mobile390px---visual-title--s);
  }

  .mainhero .hero-content {
    position: absolute;
    top: 15%;
  }

  .btn-primary {
    width: calc(100% - 40px); /* 좌우 여백 20px씩 */
    max-width: 100%;
    font-size: var(--fs-card-caption);
    padding: 14px 0;
  }

  .btn-play {
    width: calc(100% - 40px);
    max-width: 100%;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    padding: 8px 0;
    font-size: var(--fs-card-caption);
  }

  /* ===== Firefly AI (하단) ===== */
  .hero-firefly {
    position: absolute;

    top: auto;
    bottom: -200px;

    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .firefly-label {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .firefly-imgs {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
  }

  .fi-img {
    width: 70px;
    height: 70px;
  }
}
